<div class="Absolute-Center">
<md-card>

  <md-card-title>  Registrate</md-card-title>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <p>
        <md-input-container>
          <input mdInput placeholder="Name" formControlName="name">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Surname" formControlName="lastname">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Email" formControlName="email">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Password" formControlName="password">
        </md-input-container>
      </p>

      <button md-raised-button type="submit" [disabled]="form.invalid">
        Registrate
      </button>

      <nav>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </nav>

    </form>
  </md-card>
</div>
