<div class="absolute-center">
  <md-card>

    <md-card-title> Registrate</md-card-title>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container>
          <input mdInput placeholder="Name" formControlName="name">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Surname" formControlName="lastname">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Email" formControlName="email">
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input mdInput placeholder="Password" formControlName="password">
        </md-input-container>
      </p>

      <md-card-content>
        <button md-raised-button type="submit" [disabled]="form.invalid">
        Registrate
      </button>
      </md-card-content>

      <md-card-content>Back to:
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </md-card-content>

    </form>
  </md-card>
</div>