<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">

      <div class="card">
        <md-card class="card">
          <table>
            <tr>
              <td class="title">Game</td>
            </tr>
            <tr>
              <td class="title">Availability</td>
            </tr>
            <tr>
              <td class="title">Colleague</td>
            </tr>
          </table>
        </md-card>
      </div>

    </div>

    <div class="col-lg-4"></div>
  </div>

</div>