<app-navbar></app-navbar>

<form [formGroup]="form">

<div class="container">

  <div class="row">
      <div class="col-sm-2"></div>

      <div class="col-sm-10">
        <div class="card">
          <md-card class="card">
            <div class="container" style="width: inherit;">
              <div class="row padding">
                <div class="col-sm-3 title">Game</div>
                <!--<md-radio-group>-->
                <div *ngFor="let game of games" class="col-sm-4">
                  <!--<md-radio-button formControlName="game" type="input" value="{{game.title}}">-->
                    <!--{{game.title}}-->
                  <!--</md-radio-button>-->
                    <input formControlName="game" class="big" type="radio" value="{{game.title}}"><span style="margin: 10px;">{{game.title}}</span>
                </div>
                <!--</md-radio-group>-->
              </div>
              <div class="row padding">
                <div class="col-sm-3 title">Availability</div>
                <div class="col-sm-9">
                  <button md-raised-button color="primary" (click)="openDialog()">Check availability</button>
                </div>
              </div>
              <div class="row padding">
                <div class="col-sm-3 title">Colleague</div>
                <div class="col-sm-9">
                  <md-input-container>
                    <input mdInput placeholder="Names" [mdAutocomplete]="auto" formControlName="colleague">
                  </md-input-container>
                  <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let names of filteredNames | async" [value]="names">
                      {{ names }}
                    </md-option>
                  </md-autocomplete>
                </div>
              </div>
                <div style="text-align:center">
                    <button md-raised-button color="accent" [disabled]="form.invalid" (click)="submit()">Play Game!</button>
                </div>
            </div>
          </md-card>
        </div>

      </div>

      <div class="col-sm-2"></div>
  </div>

</div>


<app-dialog [(visible)]="showDialog">
  <div *ngIf="games && time" class="text-center">
    <div style="padding: 2em; font-size: 22px;">
      <h2>Time Availability</h2>
    </div>
    <div class="container" style="max-width: 500px; padding: 15px">
      <div class="row">
        <div *ngFor="let gameTime of time" class="col-xs-4 ck-button">
          <label style="width: 100%">
            <input formControlName="time" type="radio" [value]="gameTime.time"><span>{{gameTime.time}}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="center-block">
      <button md-raised-button color="primary" (click)="closeDialog()">Apply</button>
      <button md-raised-button color="accent" (click)="closeDialog()">Close</button>
    </div>
  </div>
</app-dialog>

</form>