<app-navbar></app-navbar>

<form [formGroup]="form">

    <div class="container">

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-10">
                <div class="card">
                    <md-card class="card">
                        <div class="container" style="width: inherit;">
                            <div class="row padding">
                                <div class="col-sm-3 title">Game</div>

                                <div *ngFor="let game of games" class="col-sm-4">
                                    <input formControlName="game" class="big" type="radio" value="{{game.title}}"
                                           (click)="getTimes(game.id)"><span style="margin: 10px;">{{game.title}}</span>
                                </div>

                            </div>
                            <div class="row padding">
                                <div class="col-sm-3 title">Availability</div>
                                <div class="col-sm-9">
                                    <button md-raised-button color="primary" (click)="openDialog()">Check availability
                                    </button>
                                </div>
                            </div>
                            <div class="row padding">
                                <div class="col-sm-3 title">Colleague</div>
                                <div class="col-sm-9">
                                    <md-input-container>
                                        <input mdInput placeholder="Names" [mdAutocomplete]="auto"
                                               formControlName="colleague">
                                    </md-input-container>
                                    <md-autocomplete #auto="mdAutocomplete">
                                        <md-option *ngFor="let names of filteredNames | async" [value]="names">
                                            {{ names }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div>
                        <div class="row padding">
                        <div class="col-sm-3 title">Opposite colleagues</div>
                        <div class="col-sm-9" layout="column" layout-align="center center">
                            <md-input-container>
                                <input mdInput placeholder="First opponent" ng-model="user" [mdAutocomplete]="auto"
                                       formControlName="opponent1">
                            </md-input-container>
                            <md-input-container>
                                <input mdInput placeholder="Second opponent" ng-model="user" [mdAutocomplete]="auto"
                                       formControlName="opponent2">
                            </md-input-container>
                        </div>
                        </div>
                        <div style="text-align:center">
                            <button md-raised-button color="accent" [disabled]="form.invalid" (click)="submit()">Play Game!</button>
                        </div>

                    </md-card>
                </div>
            </div>

            <div class="col-sm-2"></div>
        </div>

    </div>


    <app-dialog [(visible)]="showDialog">
        <div *ngIf="games && time" class="text-center">
            <div style="padding: 2em; font-size: 22px;">
                <h2>Time Availability</h2>
            </div>
            <div class="container" style="max-width: 500px; padding: 15px">
                <div class="row">
                    <div *ngFor="let gameTime of time" class="col-xs-4 ck-button">
                        <label style="width: 100%">
                            <input formControlName="time" type="radio"
                                   [value]="gameTime.time" (click)="selectTime(gameTime)"><span>{{gameTime.time}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="center-block">
                <button md-raised-button color="primary" [disabled]="form.get('time').invalid" (click)="closeDialog()">Apply</button>
                <button md-raised-button color="accent" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </app-dialog>

</form>

<app-dialog [(visible)]="showTimer">
    <div class="timer-container">
        <h2 style="font-size: 22px">Timer</h2>
        <h1 *ngIf="!gameResults" style="font-size: 40px">{{ timer }} seconds</h1>
        <h1 *ngIf="gameResults" style="font-size: 40px">{{ currentTime }} seconds</h1>
        <div *ngIf="gameResults">
            <input type="radio" name="radio" value="win" (click)="result = 'Win'"><span>Win</span>
            <input type="radio" name="radio" value="lose" (click)="result = 'Lose'"><span>Lose</span>
        </div>
        <button *ngIf="!gameResults" style="margin: 5px" md-raised-button color="primary" (click)="finishGame()">
            Finish
        </button>
        <button *ngIf="gameResults" style="margin: 5px" md-raised-button color="primary" [disabled]="!result" (click)="show()">Submit
        </button>
        <button style="margin: 5px" md-raised-button color="accent" (click)="closeTimer()">Cancel</button>
    </div>
</app-dialog>
